/*

     .-.    __
    |   |  /\ \
    |   |  \_\/      __        .-.
    |___|        __ /\ \      /:::\
    |:::|       / /\\_\/     /::::/
    |:::|       \/_/        / `-:/
    ':::'__   _____ _____  /    /
        / /\ /     |:::::\ \   /
        \/_/ \     |:::::/  `"`
           __ `"""""""""`
          /\ \
          \_\/
                                    _________
                                   {_________}
                                    )=======(
                                   /         \
       SD                         | _________ |
            TT                    ||         ||
                                  ||  |_/    ||
                                  ||  | \    ||
                            __    ||  |  \   ||
                       __  (_|)   |'---------'|
                      (_|)        `-.........-'




*/

@font-face{font-family:'Druk Bold Web';src:url(https://s3.amazonaws.com/bw-fonts/Druk-Bold-Web.eot);src:url(https://s3.amazonaws.com/bw-fonts/Druk-Bold-Web.eot?#iefix) 
format('embedded-opentype'),url(https://s3.amazonaws.com/bw-fonts/Druk-Bold-Web.woff) format('woff'),url(https://s3.amazonaws.com/bw-fonts/Druk-Bold-Web.ttf) 
format('truetype'),url('https://s3.amazonaws.com/bw-fonts/Druk-Bold-Web.svg#Druk Web') format('svg');
font-weight:500;font-style:normal;font-stretch:normal}

@font-face{font-family:'Druk Web';src:url(https://s3.amazonaws.com/bw-fonts/Druk-Medium-Web.eot);src:url(https://s3.amazonaws.com/bw-fonts/Druk-Medium-Web.eot?#iefix) 
format('embedded-opentype'),url(https://s3.amazonaws.com/bw-fonts/Druk-Medium-Web.woff) format('woff'),url(https://s3.amazonaws.com/bw-fonts/Druk-Medium-Web.ttf) 
format('truetype'),url('https://s3.amazonaws.com/bw-fonts/Druk-Medium-Web.svg#Druk Web') format('svg');
font-weight:500;font-style:normal;font-stretch:normal}

@font-face{font-family:'Druk Wide Web';src:url(https://s3.amazonaws.com/bw-fonts/DrukWide-Super-Web.eot);
src:url(https://s3.amazonaws.com/bw-fonts/DrukWide-Super-Web.eot?#iefix) format('embedded-opentype'),url(https://s3.amazonaws.com/bw-fonts/DrukWide-Super-Web.woff) 
format('woff'),url(https://s3.amazonaws.com/bw-fonts/DrukWide-Super-Web.ttf) 
format('truetype'),url('https://s3.amazonaws.com/bw-fonts/DrukWide-Super-Web.svg#Druk Wide Web') 
format('svg');font-weight:900;font-style:normal;font-stretch:normal}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  color:#000;
}

.centered {margin: 0 auto;}

.fullw {
  width: 100%;
  position: relative; left: 0; top: 0;
  max-width: 1000px;
  margin: 48px auto;
}
img.onehunna {width: 100%}


.inner {
  max-width: 700px;
  font-family: 'TiemposTextWeb-Regular';
  font-size: 19px;
  line-height: 25px;
}

.decal{position: absolute;}
.decal1{bottom:-130px;right:-150px;}
.decal2{top:-50px;left:-50px;}
.decal3{top:-150px;left:-80px;}
.decal4{bottom:-150px;right:-150px;}
.decal5{top:-120px;left:-60px;}
.decal6{top:150px;left:80px;}
.decal-sm {
  -webkit-transform: scale(.5);
  transform: scale(.5);
}


.pullq{
  font-family:'Druk Web';
  font-size: 80px;
  line-height: 1em;
  text-align: center;
  position: relative; left: 0; top: 0;
  z-index: 2;
}

.pullq .decal {
  z-index: -1;
}

.inner img {max-width: 100%}

.photo2{
  position: relative;
  float:right;
  margin-right: -200px;
  padding: 20px 0px 20px 20px;
  max-width: 450px;
}

.chart {
  padding: 0;
  margin: 2em 0;
  width: 100%;
  box-sizing: border-box;
}
.chart img {
  width: 33%;
}

.caption {font-size: 14px;line-height: 16px}

#credits{
  border-top: 2px solid black;
  font-size: 18px;
  margin:40px 0 80px 0;
}

@media (max-width: 1200px) {
  .photo2{
    margin-right: 0;
  }
}

@media (max-width: 1000px) {
  .decal {
    display: none;
  }
}

@media (max-width: 800px) {
}

@media (max-width: 600px) {
  .pullq{
    font-size: 50px;
  }

  .photo2{
    float: none;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .chart img {
    display: block;
    width: auto;
    margin: auto;
  }
}

@media (max-width: 300px) {
}

/* TOPH STUFF */
/* (yes, this is lazily merged) */

body {
  transition: -webkit-filter 1s, filter 1s;
}

body.invert {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

/* un-inverts (by double-inverting) ad */
body #full-header > div.container.bannerad {
  transition: -webkit-filter 1s, filter 1s;
}
body.invert #full-header > div.container.bannerad {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.opener {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;

  /* do we want to use fallback img? eh... */
  /*background-image: url(../img/mobilebackup.jpg);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;*/
}

.opener canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.opener img {
  position: absolute;
  max-width: 200px;
  max-height: 200px;
}

.opener .hed {
  position: absolute;
  width: 100%;
  font-size: 8em;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  font-family: 'Druk Web';
}
.opener .hed.top {
  top: 1em;
}
.opener .hed.bottom {
  bottom: 1em;
}

article {
  margin-top: 100%;
  background: white;
  padding: 2em 1em;
  overflow-x: hidden;
}

.recirc-wrapper {
  background: white;
  margin: 0;
  padding: 3em 0;
}

.heddek {
  font-family:'Druk Wide Web';
  text-align: center;
  padding: 1em 0;
}

.heddek div {
  padding: .5em;
}

/* ad not visible on load, comes in on scroll */
/* non-sticky banner below 1060px */
.top-banner {
  display: none;
}
@media (min-width: 1060px) {
  #full-header {
    top: -91px;
  }
}
@media (max-width: 1059px) {
  .opener {
    position: relative;
  }
  .opener .hed {
    font-size: 6em;
  }
  .opener .hed.top {
    top: 0.3em;
  }
  .opener .hed.bottom {
    bottom: 0.3em;
  }
  article {
    margin-top: 0;
  }
}

/* for ultra-large screens */
@media (min-width: 1400px) {
  .opener .hed {
    font-size: 10em;
  }
}