

@font-face{font-family:'Druk Bold Web';src:url(https://s3.amazonaws.com/bw-fonts/Druk-Bold-Web.eot);src:url(https://s3.amazonaws.com/bw-fonts/Druk-Bold-Web.eot?#iefix) format('embedded-opentype'),url(https://s3.amazonaws.com/bw-fonts/Druk-Bold-Web.woff) format('woff'),url(https://s3.amazonaws.com/bw-fonts/Druk-Bold-Web.ttf) format('truetype'),url('https://s3.amazonaws.com/bw-fonts/Druk-Bold-Web.svg#Druk Web') format('svg');font-weight:500;font-style:normal;font-stretch:normal}

@font-face{font-family:'Druk Web';src:url(https://s3.amazonaws.com/bw-fonts/Druk-Medium-Web.eot);src:url(https://s3.amazonaws.com/bw-fonts/Druk-Medium-Web.eot?#iefix) format('embedded-opentype'),url(https://s3.amazonaws.com/bw-fonts/Druk-Medium-Web.woff) format('woff'),url(https://s3.amazonaws.com/bw-fonts/Druk-Medium-Web.ttf) format('truetype'),url('https://s3.amazonaws.com/bw-fonts/Druk-Medium-Web.svg#Druk Web') format('svg');font-weight:500;font-style:normal;font-stretch:normal}

@font-face{font-family:'Druk Wide Web';src:url(https://s3.amazonaws.com/bw-fonts/DrukWide-Super-Web.eot);src:url(https://s3.amazonaws.com/bw-fonts/DrukWide-Super-Web.eot?#iefix) format('embedded-opentype'),url(https://s3.amazonaws.com/bw-fonts/DrukWide-Super-Web.woff) format('woff'),url(https://s3.amazonaws.com/bw-fonts/DrukWide-Super-Web.ttf) format('truetype'),url('https://s3.amazonaws.com/bw-fonts/DrukWide-Super-Web.svg#Druk Wide Web') format('svg');font-weight:900;font-style:normal;font-stretch:normal}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  transition: -webkit-filter 1s;
}

body.invert {
  -webkit-filter: invert(100%);
}

.opener {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.opener canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.opener img {
  position: absolute;
  max-width: 200px;
  max-height: 200px;
}

.opener .hed {
  position: absolute;
  width: 100%;
  font-size: 6em;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}
.opener .hed.top {
  top: 1em;
}
.opener .hed.bottom {
  bottom: 1em;
}

header {
  visibility: hidden;
}

article {
  margin-top: 80%;
  background: white;
  padding: 2em 10em;
}

.inner {
   max-width: 700px;
}

.center{
   margin: 0 auto;
}

.pullQ{
  font-family:'Druk Web';
  margin: 40px -100px;
  font-size: 80px;
  line-height: 84px;
  text-align: center;
}

.inner img {max-width: 100%}